@use "@global" as *;

.link {
  position: relative;
  z-index: 0;
  display: block;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: filter 0.3s ease, box-shadow 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px;
    border: 2px solid lightsalmon;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  @include hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    filter: brightness(0.95);
    &::before {
      opacity: 1;
    }
  }
}
.container {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 5px;
  height: 100%;
}
.thumbnail {
  aspect-ratio: 3 / 2;
  overflow: hidden;
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.info {
  // display: grid;
  // grid-template-columns: 1fr auto;
  // grid-template-rows: auto 1fr auto;
  // align-items: center;
  // column-gap: 10px;
  // grid-template-areas:
  //   "ttl ttl"
  //   "keyword keyword"
  //   "date date";
  height: 100%;
  padding: 5px 10px 10px;
}
.category {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  // grid-area: cat;
  // height: 50px;
  &__text {
    line-height: 1.3;
    font-size: to-rem(14);
  }
}

.title {
  // grid-area: ttl;
  margin-bottom: 10px;
  &__text {
    font-size: to-rem(16);
    font-weight: 700;
    line-height: 1.3;
  }
}
.keyword {
  margin-bottom: 10px;
  // grid-area: keyword;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    border-radius: 2px;
    background-color: #ccc;
    // color: var(--white);
    font-size: to-rem(12);
    line-height: 1;
  }
}
.date {
  display: flex;
  column-gap: 20px;
  // grid-area: date;
  line-height: 1;
  &__text {
    font-size: to-rem(12);
    line-height: 1;
  }
}
