@use "@global" as *;

.header {
  display: flex;
  gap: 50px;
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg_header);
}
