@use "@global" as *;

.link {
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 8px 8px;
  background-color: var(--color-bg_element);
  border-radius: 4px;
  transition: var(--transition_element);
  box-shadow: var(--box-shadow_element);
  outline: 1px solid transparent;

  @include hover {
    color: var(--color-accent);
    outline: 1px solid var(--color-accent);
  }
}

.current {
  color: var(--color-text_active);
  background-color: var(--color-bg_active);
}

.icon {
  width: 1em;
  aspect-ratio: 1/1;
  margin-right: 4px;
}
.name {
  margin-top: var(--text-minus-margin);
  &:not(:last-child) {
    margin-right: 16px;
  }
}
.count {
  display: grid;
  place-content: center;
  min-width: 16px;
  aspect-ratio: 1 / 1;
  font-size: to-rem(12);
  line-height: 1;
  border-radius: 50%;
  border-radius: 4px;
  border: 1px solid currentColor;
  // margin-left: 16px;
  margin-left: auto;
  @include ff-en;
}
