@use "@global" as *;

.notItem {
  background-color: var(--color-bg_block);
  border-radius: var(--border-radius);

  &__text {
    width: fit-content;
    padding: 40px 20px;
    margin: 0 auto;
  }
}
