@use "@global" as *;

.container {
  container-type: inline-size;
  container-name: list;
}

.list {
  display: grid;
  gap: 32px 24px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  @include mq(xxs) {
    grid-template-columns: none;
  }
}
