@use "@global" as *;

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px 24px;
  margin-top: 60px;

  @include mq(md) {
    margin-top: 40px;
  }
}

.link {
  display: grid;
  place-content: center;
  @include ff-en;
  color: var(--color-text_sub);
  line-height: 1;
  min-width: 32px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-bg_block);
  border-radius: 4px;
  // user-select: none;
  box-shadow: var(--box-shadow_block);
  outline: 1px solid transparent;
  transition: var(--transition_element);

  @include hover {
    color: var(--color-accent);
    outline: 1px solid var(--color-accent);
  }
}

.current {
  color: var(--color-text_active);
  background-color: var(--color-bg_active);
}
