@use "@global" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  @include mq(lg) {
    max-width: 800px;
    // width: 100%;
    margin-inline: auto;
  }
}
.sidebar__container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 24px 24px;
  border-radius: var(--border-radius);
  background-color: var(--color-bg_block);
  box-shadow: var(--box-shadow);
  @include mq(lg) {
    flex-direction: row;
    column-gap: 48px;
  }
  @include mq(xxs) {
    flex-direction: column;
    // padding: 16px 16px;
  }
}
.sidebar__item {
}
.sidebar__title {
  display: flex;
  align-items: center;
  column-gap: 0.15em;
  font-size: to-rem(24);
  color: var(--color-text_head);
  font-weight: 700;
  line-height: 1;
  @include ff-en;
  margin-bottom: 24px;

  &__icon {
    width: 1.5rem;
    aspect-ratio: 1/1;
  }
  &__text {
  }
}
