@use "@global" as *;

.search {
  background-color: var(--color-bg_search);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow_block);
  color: var(--color-text_search);
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: var(--transition_element);
  width: 100%;
  padding: 8px;
  font-size: to-rem(16);
  display: flex;
  cursor: text;

  &:focus-within {
    outline-color: var(--color-accent);
  }
}
.icon__search {
  aspect-ratio: 1/1;
  width: 1em;
  margin-right: 4px;
}
.icon__clear {
  aspect-ratio: 1/1;
  width: 1em;
}

.input {
  flex: 1;

  &::placeholder {
    color: var(--color-text_search);
  }

  // FireFox用
  &:focus {
    outline: none;
  }

  // GoogleChrome用
  // オートフィルの色変更アニメーションを遅延させる
  // オートフィルによる背景色の変更が実質的に目立たなくなるようにしています。つまり、5000秒かけて背景色が変わる設定になっており、通常の使用状況下ではほとんどその変化が観察されないため、実質的にオートフィル時の背景色の変更を無効化していると言えます。
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
  }
  &[type="search"]::-webkit-search-cancel-button {
    // デフォルトのサーチキャンセルボタンを非表示
    -webkit-appearance: none;
  }
}

.clear {
  display: none;
  padding: 0 8px;
  margin-right: -8px;
}
.visible {
  display: block;
}
