@use "@global" as *;

.footer {
  position: sticky;
  top: 100dvh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  width: 100%;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-bg_footer);
}

.copyright {
  font-size: to-rem(12);
}
