@use "@global" as *;

.container {
  display: grid;
  grid-template-columns: 1fr min(30%, 300px);
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "Category Category"
    "ArticleList Sidebar";
}
